.sidebar {
    margin: 0;
    padding: 0;
    width: 22%;
    background-color: #C3BBBB;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.left-menu1 {
    margin-left: 10%;
}

.left-menu2 {
    margin-left: 10%;
    margin-top: 20%;
}


.content {
    margin-left: 22%;
    width: 78%;
    padding: 1px 0px;
    height: 900px;
}

.search-bar {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 3fr 0.5fr 1fr;
}

input {
    width: 90%;
    background-color: #DEE6EC;
    border-radius: 1rem;
    border: none;
    padding: 0.3rem;
}

.noty {
    text-align: end;
}

.user-name {
    text-align: end;
}

.action-buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}


.btn-design {
    border-radius: 1rem;
    background-color: #E8A193;
    border: none;
    padding: 0.3rem 1rem;
    margin: 0.2rem;
}

.bg {
    margin: 0;
    padding: 1rem;
    height: 200vh;
    background-color: #DEE6EC;
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 1rem;
    /* flex-direction: column; */
}

.main-content {
    width: 70%;
    /* margin: 1rem; */
}

.right-side {
    padding: 0;
    width: 25%;
    height: 200vh;
    overflow: hidden;
}


.box-shadow {
    padding: 0.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
}

.user-activity {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

/* =========horizontal view============= */


.item {
    background-color: #FC7307;
    width: 40%;
    margin: 0.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.75);
    background-color: white;
    height: 80%;
}


.flex {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.item-data {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: start;
    border-left: #B5A8F0 20px solid;
}

.text-width {
    width: 75%;
    border-radius: 0rem 1rem 1rem 0rem;
}

.mobile-navbar {
    display: none;
}

.mobile-menu{
    display: none;
}


/* media query */

@media (max-width:1080px) {
    .item-data {
        height: 220px;
    }
}


@media (max-width:998px) {
    .bg {
        flex-direction: column;
    }

    .main-content {
        width: 100%;
    }

    .right-side {
        width: 100%;
    }

    .item-data {
        height: 200px;
    }

    .mobile-navbar {
        display: flex;
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 20px;
    }

    .sidebar {
        display: none;
    }

    .content {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar {
        display: none;
    }

    .mobile-menu{
        background-color: white;
        z-index: 90;
        border-radius: 6px;
        align-items: center;
        padding-left: 3rem 2rem;
        transition: all 2s linear;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .left-menu1{
        margin-left: 3%;
    }
    .left-menu2 {
        margin-left:3%;
        margin-top: 5%;
    }
}